
.vl {
    border-left: 6px solid black;
    height: 270px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

  .btn-wrapper {
    text-align:center;
    vertical-align: bottom;
    position: absolute;
    bottom: 5%;
   right:50%;
}
 div{
   text-align: center;
 }

 
